[submodule "mathc"]
	path = mathc
	url = https://github.com/skiselkov/mathc.git
[submodule "libquat"]
	path = libquat
	url = https://github.com/skiselkov/libquat.git
[submodule "tinyxml2"]
	path = tinyxml2
	url = https://github.com/leethomason/tinyxml2
