.DS_Store
.vs/
bin/
lib/lua-5.4.0/src/*.o
lib/lua-5.4.0/src/*.a
build/
CrabNet-master/Samples/
curl-7.62.0/
qmake/output
qmake_flight_server/output
qmake/.qmake.stash
qmake_flight_server/.qmake.stash
qmake/*.o
qmake_flight_server/*.o
qmake/Makefile
qmake/*.tmp
qmake_flight_server/Makefile
qmake_flight_server/*.tmp
*.sublime-workspace
